.grid-container {
    display: grid;
    grid-template-columns: 33% 34% 33%;

}
.grid-item {
    background-color: wheat;
    border: 2px solid black;
    padding: 20px;
    font-size: 15px;
    text-align: center;
}
body {
    background-color: rgb(180, 171, 154);
    
}
            ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px; 
text-decoration: none;
}

li a:hover {
background-color: #111;
}
footer {
    text-align: left;
    border: 2px solid black;
    padding: 3px;
    background-color: rgb(192, 187, 180);
    color: rgb(0, 0, 0);
}
#search{
    text-align: center;
}
